/*============================================
全般的なスタイル
============================================*/
* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/

}
body {
	background-color:#999999;	/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}
div#pagebody {
	width:920px; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:left;	        /*テキストの配置を左揃えにする*/
	background-color:#ffffff;	/*内容全体の背景色*/

}

/*============================================
ヘッダ
============================================*/
div#header {
	height:77px;
	background-color:#cccccc;		        /*ヘッダ部分の背景色*/
}
h1 {
	padding:20px 0px 0px 30px;		        /*見出し内容の位置調整*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}


/*============================================
メインメニュー
============================================*/
ul#menu {
	height:42px; background-color:#eeeeee; font-weight:bold;
}
li#menu01,li#menu02,li#menu03,li#menu04,li#menu05 {
	float:left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
}

ul#menu a {
	display:block;				        /*リンクをブロック表示にする*/
	height:42px; padding-top:4px; text-align:center;
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}
/*ボタン01～05にはそれぞれ異なる背景画像を指定する*/
li#menu01 {
	width:164px; height:42px;
}
li#menu02 {
	width:156px; height:42px;
}
li#menu03 {
	width:156px; height:42px;
}
li#menu04 {
	width:156px; height:42px;
}
li#menu05 {
	width:164px; height:42px;
}
ul#menu a {
	display:block;				/*リンクをブロック表示にする*/
	height:42px; padding-top:4px; text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}


/*============================================
コンテンツ
============================================*/
div#content {
	width:860px; margin:10px 20px 10px 0px;	/*幅の指定と位置調整*/
	float:right;				/*2カラム全体を右寄せにする*/
}

li#inline {
width:800px; margin:10px 20px 10px 0px;	/*幅の指定と位置調整*/
float:right;			        /*2カラム全体を右寄せにする*/
display: inline;
margin: 0 10px;
}

div#scr {
  width: 860px;
  max-height: 200px;
  height: auto !important; /* IE6 max-height対応 */
  height: 100px;　/* IE6 max-height対応 */
  overflow-x: hidden; /* 横スクロール非表示 */
  overflow-y: scroll; /* 縦スクロール */
}


div#news {
	width:860px; margin:10px 20px 10px 0px;	/*幅の指定と位置調整*/
	float:right;				/*2カラム全体を右寄せにする*/
}



/*見出し・段落・水平線のスタイル指定*/
h2 {
	font-size:100%; margin-bottom:10px; padding-left:25px;
	font-size:95%; border-bottom:solid 1px #cccccc;
	background-image:url("images/icon.gif");
	background-repeat:no-repeat; background-position:left center;
}

/*============================================
フッタ
============================================*/
div#footer {
	height:42px; text-align:center;
	clear:both;					/*回り込みを解除する*/
	background-color:#cccccc;			/*フッタ部分の背景色*/
}
address {
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:5px 0px 5px 0px;		 /*要素内容の位置調整*/
}
